<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="parallax-sports-api"/>
    <springProperty scope="context" name="lokiBaseUrl" source="observability.loki-url" defaultValue="http://localhost:3100"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{36} [%property{appName}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${lokiBaseUrl}/loki/api/v1/push</url>
        </http>
        <batch>
            <maxItems>1000</maxItems>
            <timeoutMs>2000</timeoutMs>
        </batch>
        <labels>
            app=${appName}
            host=${HOSTNAME}
            level=%level
        </labels>
        <structuredMetadata>traceId=%X{traceId}</structuredMetadata>
        <message class="ch.qos.logback.classic.PatternLayout">
            <pattern>{"level":"%level","logger":"%logger{36}","thread":"%thread","message":"%message"}</pattern>
        </message>
        <readMarkers>true</readMarkers>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOKI"/>
    </root>

    <logger name="dev.parallaxsports.auth" level="DEBUG"/>
    <logger name="dev.parallaxsports.core.config.SecurityConfig" level="DEBUG"/>
</configuration>
